.tdStyle{
    border: 1px solid #f8f8f8;
    padding: 1em;
    border-radius: 5px;

}
.currentBlock{
    background-color: #1B1358;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
